@model MovieStore.Core.Entities.Movie
@using System.Globalization;

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<div class="row text-light bg-dark">
    <div class="col-4">
        <img src="@Model.PosterUrl" alt="@Model.Title" height="250" />
    </div>
    <div class="col-6">
        <h1>@Model.Title</h1>
        <div><small>@Model.Tagline</small></div>
        <div><label>@Model.RunTime m | @Model.ReleaseDate?.ToString("yyyy")</label></div>
        <div>
            @foreach (var item in Model.MovieGenres)
            {
                <span class="badge badge-secondary">@item.Genre.Name</span>
            }
        </div>
        <div><span class="badge badge-warning">@Model.Reviews.Average(r => r.Rating).ToString("F")</span></div>
        <p><small>@Model.Overview</small></p>
    </div>
    <div class="col-2">
        <div><span class="badge badge-secondary">Trailer</span></div>
        @if (ViewBag.Favorited)
        {
            <button type="button" class="btn-primary btn" asp-action="CheckFavorite" asp-controller="User">
                It's favorited
            </button>
        }
        else
        {
            <form method="post" asp-action="Favorite" asp-controller="User">
                <div class="col-lg-2 mb-4">
                    <input type="submit" value="Add Favorite" class="btn btn-primary" />
                    <input type="hidden" value="@Model.Id" name="MovieId" />
                </div>
            </form>
        }

        @*@if (Context.User.Identity.IsAuthenticated)
        {*@
        <button type="button" class="btn-primary btn" data-target="#reviewModal" data-toggle="modal">
            Review
        </button>

        @if (ViewBag.Purchased)
        {
            <div><span class="badge badge-secondary"><button>Watch Movie</button></span></div>

        }
        else
        {
            <form method="post" asp-action="Purchase" asp-controller="User">
                <div class="col-lg-2 mb-4">
                    <input type="submit" value="BUY @Model.Price" class="btn btn-primary" />
                    <input type="hidden" value="@Model.Id" name="MovieId" />
                </div>
            </form>
        }
        @*}*@
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-5">
        <h3>Movie Facts</h3>
        <div class="border-bottom">Release Date <span class="badge badge-secondary">@Model.ReleaseDate?.ToString("MMM dd, yyyy")</span></div>
        <div class="border-bottom">Run Time <span class="badge badge-secondary">@Model.RunTime</span></div>
        <div class="border-bottom">Box Office <span class="badge badge-secondary">@Model.Revenue?.ToString("C3", CultureInfo.CurrentCulture)</span></div>
        <div class="border-bottom">Budget <span class="badge badge-secondary">@Model.Budget?.ToString("C3", CultureInfo.CurrentCulture)</span></div>
    </div>
    <div class="col-sm-12 col-md-7">
        <h3>Cast</h3>
        <div class="row">
            <div class="col-sm-4">
                Profile
            </div>
            <div class="col-sm-4">
                Actor
            </div>
            <div class="col-sm-4">
                Character
            </div>
        </div>
        @foreach (var item in Model.MovieCasts)
        {
            <a href="@item.Cast.TmdbUrl">
                <div class="row">
                    <div class="col-sm-4">
                        @if (string.IsNullOrEmpty(item.Cast.ProfilePath))
                        {
                            <span>@item.Cast.Name</span>
                        }
                        else
                        {
                            <img height="75" src="@item.Cast.ProfilePath" alt="@item.Cast.Name" />
                        }

                    </div>
                    <div class="col-sm-4">
                        <span>@item.Cast.Name</span>
                    </div>
                    <div class="col-sm-4">
                        <span>@item.Character</span>
                    </div>
                </div>
            </a>
        }
    </div>
    <div id="reviewModal" role="dialog" class="modal fade">
        <div class="modal-dialog">
            @Html.Partial("_Review", Model)
            @*<partial name="_Review" model=@Model.Id />*@
        </div>
    </div>
</div>






