@*@model List<Movie>
@{
    ViewData["Title"] = "Index";
}

<h1>
    List of Movies @ViewBag.MovieCount
</h1>
@ViewData["myname"]*@
@*we need to tell our view what data it is receiving
    in this case its receiving list of movies*@
@*i wanna use html table or html UL
    Razor Views combine c# with html and they are very powerful and developer friendly*@
@*1. Place @model IReadOnlyCollection top of the view with the expecting data
    2. we can access the actual data using Model(ASP.NET) alias for @model*@
@*<table class="table">
    <tr>
        <td>
            Id
        </td>
        <td>
            Title
        </td>
        <td>
            Budget
        </td>
    </tr>

    @foreach (var movie in Model)
    {
        <tr>
            <td>@movie.Id</td>
            <td>@movie.Title.</td>
            <td>@movie.Budget</td>
        </tr>
    }
</table>*@